.coaches_section{
    width: 100%;
    flex-wrap: wrap;
    gap: 60px;

    .img_div{
        background: var(--black);

        .image_coach_1, .image_coach_2, .image_coach_3, .image_coach_4{
            width: 250px;
            height: 416px;
            background-size: cover;
            background-position: center;
        }
        .image_coach_1{
            background-image: url("/img/gabriel.jpg");
        }
        .image_coach_2{
            background-image: url("/img/max.jpg");
        }
        .image_coach_3{
            background-image: url("/img/kasa.jpg");
        }
        .image_coach_4{
            background-image: url("/img/juliano.jpg");
        }
        
        .coache_text{
            margin-top: -4px;
            width: 250px;
            height: 100px;
            background: var(--red_strong);
            color: #fff;
            font: 20px var(--clean_fonts);
        }
    }
}
.coaches_section, .coache_text{
    display: flex;
    justify-content: center;
    align-items: center;
}