.footer{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(0deg, #000000e1 0%, #000000e1 100%), url("/img/wallpaper-2.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}