.front_cover{
    width: 100%;
    margin: 0;
    position: relative;
    text-align: center;

    .wallpaper{
        flex-direction: column;
        width: 100%;
        background: linear-gradient(180deg, #0000004d 50%, #ff444471 100%), radial-gradient(#00000080 50%, #ff444446 100%), url("/img/wallpaper.webp");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        font: calc(3vw + 35px) var(--clean_fonts);

        .title_sub{
            margin-top: 250px;
            font: 25px var(--clean_fonts);
            letter-spacing: 3px;
            text-transform: uppercase;
            color: var(--red);
        }

        .title_header{
            font: 100px SpaceRanger;
            letter-spacing: 4px;
            color: #ffffff;
            margin: 0 40px;
        }
        @media(max-width: 600px){
            .title_sub{
                font-size: 17px;
            }

            .title_header{
                font-size: 70px;
            }
        }
        @media(max-width: 600px){
            .title_header{
                font-size: 40px;
            }
        }

        .link_button{
            position: relative;
            overflow: hidden;
            margin: 50px 0 200px 0;
            padding: 10px 30px;
            font-size: 0.3em;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            background: transparent;
            cursor: pointer;
            border: 1px solid;
            box-shadow: inset 0 0 20px #ffffff00;
            outline: 1px solid;
            outline-color: #ffffff80;
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        .link_button:hover{
            border: 1px solid;
            box-shadow: inset 0 0 20px #ffffff80, 0 0 20px #ffffff33;
            outline-color: rgba(255, 255, 255, 0);
            outline-offset: 15px;
            text-shadow: 1px 1px 2px #427388; 
        }
        
    }

    .wallpaper, .title_button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

.gym_class{
    width: 100%;
    color: #fff;
    margin: -100px 0 0 0;
    display: flex;
    justify-content: center;

    .body, .muscle{
        display: grid;
        grid-template-rows: 0.6fr 1fr 0.7fr;
        width: calc(30vw + 100px);
        padding: 0 50px;
        z-index: 2;
        font: calc(0.5vw + 20px) var(--clean_fonts);

        .title{
            font-size: 1.5em;
            margin: 0;
            align-self: flex-end;
        }

        .description{
            font-size: 0.75em;
            font-weight: 300;
        }

        .link_join{
            margin-top: 20px;
            font-size: 1em;

            .button_join{
                background: transparent;
                color: #fff;
                border: 2px #fff solid;
                font-size: 0.9em;
                padding: 10px 15px;
                cursor: pointer;
                transition: 250ms ease-in-out;
            }

            .button_join:hover{
                background-color: #fff;
                color: #000000;
            }
        }
    }

    .body{
        background-color: var(--red);
        text-align: right;
    }

    .muscle{
        background-color: var(--black);
        text-align: left;

        .button_join{
            align-self: flex-end;
        }
    }
}

@media(max-width: 800px){
    .gym_class{
        flex-wrap: wrap;

        .body, .muscle{
            text-align: center;

            .title{
                align-self: center;
            }

            .description{
                text-align: justify;
            }
        }
    }
}