@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Roboto:wght@500;700&display=swap');

@font-face{
    font-family: SpaceRanger;
    src: url("/fonts/spaceranger.ttf") format("truetype");
    font-display: swap;
}

:root{
    --red: #f71a25;
    --red_strong: #d40a14;
    --black: #101010;
    --brown: #420e0e;
    --clean_fonts: 'Inter', 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    cursor: default;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 0.5vw;
}
body::-webkit-scrollbar-track {
    background: #000000;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
}

a{
    text-decoration: none;
    cursor: default;
}

@media(max-width: 800px){
    body{
        width: 100vw;
    }
}