.gym_features{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font: calc(3vw + 35px) var(--clean_fonts);
    padding: 150px 0;
    
    .why, .guarantee{
        text-align: center;
    }
    
    .why{
        font-size: 0.3em;
        color: var(--red_strong);
    }
    
    .guarantee{
        font-size: 0.6em;
        color: #272727;
        margin: 0 30px;
    }
    
    .div_features{
        margin-top: 70px;
        width: 75%;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        
        .view_feature{
            height: min-content;
            position: relative;
            font-size: 1em;
            grid-template-columns: min-content 1fr;
            gap: 30px;
            
            .img_feature{
                width: calc((2vw + 200px) / 1);
                height: calc((2vw + 200px) / 1.7);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                
            }
            
            .img1{
                background-image: url("/img/feature-img1.webp");
            }
            
            .img2{
                background-image: url("/img/feature-img2.webp");
            }
            
            .img3{
                background-image: url("/img/feature-img3.webp");
            }
            
            .img4{
                background-image: url("/img/feature-img4.webp");
            }
            
            
            .svg_feature{
                width: calc((2vw + 200px) / 4);
                height: calc((2vw + 200px) / 4);
                position: absolute;
                top: calc((-2vw - 200px) / 10);
                left: calc((2vw + 200px) / 1.2);
            }
            
            .div_text{
                width: 100%;
                justify-content: start;
                font: calc(1vw + 20px) var(--clean_fonts);
                
                .title_feature{
                    font-size: 0.8em;
                }
                
                .descrition_feature{
                    font-size: 0.6em;
                    font-weight: 300;
                }
            }
        }

        @media(max-width: 500px){
            .view_feature{
                grid-template-rows: min-content 1fr;
                grid-template-columns: 1fr;
                justify-items: center;
                gap: 15px;
    
                .img_feature{
                    display: none;
                }
    
                .svg_feature{
                    position: relative;
                    top: auto;
                    left: auto;
                }

                .div_text{

                    .title_feature{
                        text-align: center;
                    }

                    .descrition_feature{
                        text-align: justify;
                    }
                }
            }
        }
    }
    
    .div_features, .view_feature{
        display: grid;
    }
    
    @media(max-width: 1600px){
        .div_features{
            grid-template-columns: 1fr;
            grid-template-rows: min-content min-content min-content min-content;
            gap: 60px;
        }
    
    }

}
