.container{
    width: 100vw;

    .navbar, .navbar_activate{
        position: absolute;
        margin: auto;
        top: 0;
        z-index: 100;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 7vh;
        background: linear-gradient(180deg, #000000df 50%, #00000000 100%);
        text-transform: uppercase;
        font-size: 19px;

        .nav_link_main{
            color: var(--red);
            text-decoration: none;
            font: 700 0.8em 'Noto Sans', sans-serif;
            letter-spacing: 2px;
            margin: 0 25px 0 75px;
        }

        .nav_link{
            color: white;
            text-decoration: none;
            font: 700 0.8em 'Noto Sans', sans-serif;
            letter-spacing: 2px;
            margin: 0 25px;
        }

        .hamburguer_menu{
            display: none;
            width: 50px;

            .menu_line_1, .menu_line_2, .menu_line_3{
                width: 40px;
                height: 3px;
                background: #ffffff;
                margin: 4px 0;
                border-radius: 10px;
            }
        }
    }

    .section_main{
        width: 100%;
        margin: 0;
        position: relative;
        text-align: center;

        .wallpaper{
            width: 100%;
            height: 80vh;
            background: linear-gradient(180deg, #00000000 50%, #ff444471 100%), radial-gradient(#00000000 50%, #ff444446 100%), url("/img/wallpaper-1.jpg");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            filter: brightness(0.3);
        }

        .titles{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            .title_sub{
                margin-top: 250px;
                font: 1.2em 'Noto Sans', sans-serif;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: var(--red);
            }

            .title_header{
                font: calc((9vh + 8vw) / 2) SpaceRanger;
                letter-spacing: 4px;
                color: #ffffff;
                margin: 0 40px;
            }

            .title_shadow{
                text-align: center;
                position: relative;
                margin-top: 50px;
                width: 300px;
                height: 120px;
                border-radius: 50px;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                font: 700 1.5rem 'Noto Sans', sans-serif;
                background: #00000065;
                transition: 250ms ease-out;

                .title_button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 250px;
                    height: 70px;
                    border-radius: 30px;
                    background: #000000c4;
                    transition: 250ms ease-out;
                }
            }

            .title_shadow:hover{
                background: #ff0e0e65;

                .title_button{
                    background: var(--red);
                }
            }
        }
    }

    @media(max-width: 1000px){
        .navbar{
            justify-content: center;

            .nav_link_main{
                margin: 0 25px;
            }
        }
    }

    @media(max-width: 650px){
        .section_main{

            .titles{

                .title_shadow{
                    width: 270px;
                    height: 90px;

                    .title_button{
                        width: 230px;
                        height: 65px;
                        font-size: 20px;
                    }
                }
            }
        }

        .navbar{
            background: #000000;
            justify-content: flex-start;
            height: 60px;
        }

        .navbar_activate{
            height: 412px;
            background: #000000;

            .hamburguer_menu{

                .menu_line_1{
                    background-color: #00000000;
                }

                .menu_line_2{
                    transform: rotate(45deg);
                }

                .menu_line_3{
                    transform: translate(0, -11px) rotate(135deg);
                }
            }
        }

        .navbar, .navbar_activate{
            flex-direction: column;
            flex-wrap: nowrap;
            transition: 1s ease-in-out;
            overflow-y: hidden;

            .nav_link_main, .nav_link{
                border-bottom: #ffffff 2px solid;
                text-align: center;
                margin: 0;
                cursor: pointer;
                padding: 20px 0;
                width: 100vw;
            }

            .nav_link_main{
                margin: 50px 0 0 0;
            }

            .hamburguer_menu{
                position: relative;
                display: flex;
                flex-direction: column;
                width: 50px;
                height: 42px;
                margin: 15px 0;
                transition: none;

                .menu_line_1, .menu_line_2, .menu_line_3{
                    transition: 1s ease-in-out;
                }
            }
        }
    }
}