.navbar, .navbar_activate{
    position: absolute;
    margin: auto;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 7vh;
    background: linear-gradient(180deg, #000000df 50%, #00000000 100%);
    text-transform: uppercase;
    font-size: 19px;

    .nav_link_main{
        color: var(--red);
        text-decoration: none;
        font: 700 0.8em 'Noto Sans', sans-serif;
        letter-spacing: 2px;
        margin: 0 25px 0 75px;
    }
    .nav_link_main:hover{
        border-bottom: 2px var(--red) solid;
    }

    .nav_link{
        color: white;
        text-decoration: none;
        font: 700 0.8em 'Noto Sans', sans-serif;
        letter-spacing: 2px;
        margin: 0 15px;
        padding: 3px 10px;
    }
    .nav_link:hover{
        border-bottom: 2px solid white;
    }

    .nav_link, .nav_link_main{
        border-bottom: 2px transparent solid;
        transition: 150ms ease-in-out;
    }

    .mobile_menu{
        display: none;
        width: 50px;

        .menu_line_1, .menu_line_2, .menu_line_3{
            width: 40px;
            height: 3px;
            background: #ffffff;
            margin: 4px 0;
            border-radius: 10px;
        }
    }
}

@media(max-width: 1000px){
    .navbar{
        justify-content: center;

        .nav_link_main{
            margin: 0 25px;
        }
    }
}

@media(max-width: 650px){
    .navbar{
        background: #000000;
        justify-content: flex-start;
        height: 60px;
    }

    .navbar_activate{
        height: 412px;
        background: #000000;

        .mobile_menu{

            .menu_line_1{
                background-color: #00000000;
            }

            .menu_line_2{
                transform: rotate(45deg);
            }

            .menu_line_3{
                transform: translate(0, -11px) rotate(135deg);
            }

            .menu_line_2, .menu_line_3{
                background: var(--red);
            }
        }
    }

    .navbar, .navbar_activate{
        flex-direction: column;
        flex-wrap: nowrap;
        transition: 1s ease-in-out;
        overflow-y: hidden;

        .nav_link_main, .nav_link{
            border-bottom: #ffffff 2px solid;
            text-align: center;
            margin: 0;
            cursor: pointer;
            padding: 20px 0;
            width: 100vw;
        }

        .nav_link_main{
            margin: 50px 0 0 0;
        }

        .mobile_menu{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 50px;
            height: 42px;
            margin: 15px 0;
            transition: none;

            .menu_line_1, .menu_line_2, .menu_line_3{
                transition: 1s ease-in-out;
            }
        }
    }
}