.prices{
    width: 100%;
    margin: 150px 0 85px 0;
    flex-direction: column;
    font: 15px var(--clean_fonts);

    .title{
        font: 700 2.8em SpaceRanger;
        text-align: center;
        letter-spacing: 3px;
        color: var(--red_strong);
    }
    
    .different_prices{
        width: 90%;
        margin: 10px 0 50px 0;
        flex-wrap: wrap;
        gap: 30px;
        
        .price_div{
            width: 350px;
            //height: 400px;
            justify-content: flex-start;
            flex-direction: column;
            background: var(--red_strong);
            border: 5px var(--black) solid;
            border-radius: 20px;
            color: #fff;
            font-size: 1em;

            .price_title{
                width: 100%;
                height: 70px;
                color: #000;
                background: #fff;
                text-align: center;
                font: 30px SpaceRanger;
                border-top-left-radius: 13px;
                border-top-right-radius: 13px;
            }

            .price_string{
                width: 100%;
                text-align: center;
                font: 700 55px var(--clean_fonts);
                margin-top: 20px;
                position: relative;

                .dollar_sign, .month{
                    font-size: 0.3em;
                }

                .dollar_sign{
                    position: relative;
                    top: -26px;
                }

            }

            .text{
                font-size: 0.9em;
                font-weight: 500;
                text-align: center;
                margin-top: 10px;
            }

            .button{
                margin: 30px 0;
                font: 700 1.2em var(--clean_fonts);
                text-transform: uppercase;
                padding: 13px 25px;
                border: none;
                border-radius: 40px;
                background: #fff;
                cursor: pointer;
                transition: 150ms ease-in-out;
            }
            .button:hover{
                background: var(--black);
                color: #fff;
            }
        }
    }
}

.buy{
    margin: 150px auto 90px auto;
    width: 50%;
    background: var(--black);
    padding: 50px 30px;
    color: #fff;
    flex-direction: column;
    border-radius: 30px;

    .title{
        font: 35px SpaceRanger;
        text-align: center;
    }

    .price_string{
        width: 100%;
        height: min-content;
        text-align: center;
        font: 700 55px var(--clean_fonts);
        margin-top: 20px;
        position: relative;

        .dollar_sign, .month{
            font-size: 0.3em;
        }

        .dollar_sign{
            position: relative;
            top: -26px;
        }

    }

    .text{
        font: 500 14px var(--clean_fonts);
        text-align: center;
        margin-top: 10px;
    }

    .benefits_title{
        margin-top: 30px;
        font: 700 20px var(--clean_fonts);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        color: var(--red);
    }

    .benefits{
        margin: 10px 0;
        font: 500 16px var(--clean_fonts);
        
        .item_list{
            display: flex;
            align-items: flex-start;

            .circle{
                width: 8px;
                margin: 0 10px;
            }
        }
    }

    .div_buttons{
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .button{
            margin: 0 20px;
            padding: 10px 20px;
            text-transform: uppercase;
            font: 900 16px var(--clean_fonts);
            letter-spacing: 2px;
            background: transparent;
            border-radius: 30px;
            cursor: pointer;
            transition: 100ms ease-out;
        }
        .button:hover{
            transform: scale(1.1);
        }
        
        .return{
            border: 3px var(--gray) solid;
            color: var(--gray);
        }

        .sign{
            border: 3px var(--red) solid;
            color: var(--red);
        }
    }
}
@media(max-width: 600px){
    .buy{
        width: 80%;   
        padding: 10% 5%;

        .title{
            font-size: 30px;
        }

        .price_string{
            font-size: 45px;
        }

        .benefits_title{
            font: 700 18px var(--clean_fonts);
            margin-top: 20px;
        }

        .div_buttons{
            .button{
                margin: 0 10px;
            }
        }
        @media(max-width: 400px){
            .benefits{.modal, .pop_up, .pop_up > .div_buttons, .pop_up > .div_buttons_reverse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    height: 100%;

    .pop_up{
        padding: 30px 50px;
        width: 40%;
        background: var(--black);
        flex-direction: column;
        font: 30px var(--clean_fonts);
        border: 5px var(--red) solid;
        border-radius: 30px;
        color: #fff;
        
        .title{
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
        }

        .sub{
            margin-top: 20px;
            font-size: 0.7em;
            text-align: justify;
            color: #e7e7e7;
        }

        .chapter{
            font-size: 0.5em;
            text-transform: uppercase;
            margin: 10px 5px 0 auto;
            letter-spacing: 1px;
        }

        .div_buttons, .div_buttons_reverse{
            margin-top: 20px;
            flex-direction: column;
            font-size: 1em;

            .button{
                margin: 10px 0;
                padding: 10px 20px;
                background: transparent;
                font: 700 0.6em var(--clean_fonts);
                cursor: pointer;
                transition: 100ms ease-out;
                text-transform: uppercase;
            }
            .button:hover{
                transform: scale(1.1);
            }

            .false{
                border: 3px var(--red) solid;
                color: var(--red);
            }

            .true{
                border: 3px var(--gray) solid;
                color: var(--gray);
            }
        }
        .div_buttons_reverse{
            .renew{
                background: var(--red_strong);
                border: 3px #fff solid;
                color: #fff;
            }

            .return{
                border: 3px var(--gray) solid;
                color: var(--gray);
            }
        }
    }
    @media(max-width: 800px){
        .pop_up{
            font-size: 25px;
        }
    }
    @media(max-width: 700px){
        .pop_up{
            width: 60%;
            padding: 5% 10%;
            font-size: 25px;
        }
    }
    @media(max-width: 450px){
        .pop_up{
            font-size: 20px;

            .title{
                font-weight: 700;
            }

            .sub{
                font-size: 0.8em;
            }
        }
    }
}

                .item_list{
                    margin: 5px 0;
                }
            }

            .div_buttons{
                margin-top: 10px;
                flex-direction: column-reverse;

                .button{
                    margin: 10px 0;
                }
                
                .return{
                    transform: scale(0.9);
                }
            }
        }
    }
}

.prices, .price_div, .price_title, .different_prices, .buy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal, .pop_up, .pop_up > .div_buttons, .pop_up > .div_buttons_reverse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    height: 100%;

    .pop_up{
        padding: 30px 50px;
        width: 40%;
        background: var(--black);
        flex-direction: column;
        font: 30px var(--clean_fonts);
        border: 5px var(--red) solid;
        border-radius: 30px;
        color: #fff;
        
        .title{
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
        }

        .sub{
            margin-top: 20px;
            font-size: 0.7em;
            text-align: justify;
            color: #e7e7e7;
        }

        .chapter{
            font-size: 0.5em;
            text-transform: uppercase;
            margin: 10px 5px 0 auto;
            letter-spacing: 1px;
        }

        .div_buttons, .div_buttons_reverse{
            margin-top: 20px;
            flex-direction: column;
            font-size: 1em;

            .button{
                margin: 10px 0;
                padding: 10px 20px;
                background: transparent;
                font: 700 0.6em var(--clean_fonts);
                cursor: pointer;
                transition: 100ms ease-out;
                text-transform: uppercase;
            }
            .button:hover{
                transform: scale(1.1);
            }

            .false{
                border: 3px var(--red) solid;
                color: var(--red);
            }

            .true{
                border: 3px var(--gray) solid;
                color: var(--gray);
            }
        }
        .div_buttons_reverse{
            .renew{
                background: var(--red_strong);
                border: 3px #fff solid;
                color: #fff;
            }

            .return{
                border: 3px var(--gray) solid;
                color: var(--gray);
            }
        }
    }
    @media(max-width: 800px){
        .pop_up{
            font-size: 25px;
        }
    }
    @media(max-width: 700px){
        .pop_up{
            width: 60%;
            padding: 5% 10%;
            font-size: 25px;
        }
    }
    @media(max-width: 450px){
        .pop_up{
            font-size: 20px;

            .title{
                font-weight: 700;
            }

            .sub{
                font-size: 0.8em;
            }
        }
    }
}