.profile{
    position: relative;
    margin: 150px 0 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;

    .name{
        color: var(--red_strong);
        font: 40px SpaceRanger;
    }

    .profile_item{
        width: 70%;
        height: 400px;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: relative;

        .item_title{
            text-align: center;
            font: 35px SpaceRanger;
            color: #000;
            position: absolute;
            top: -30px;
        }

        .div_input{
            width: 45%;
            margin-top: 20px;
            position: relative;
    
            .eye_pass{
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                right: 0;
                background: none;
                border: none;
                cursor: pointer;
    
                .eye_svg{
                    width: 30px;
                    height: 30px;
                    transition: 200ms ease-in-out;
                    fill: var(--gray);
                }
            }
            .eye_pass > .eye_svg_red{
                fill: #ff0000;
            }
    
            .input{
                margin: 0;
                width: calc(100% - 19px);
                padding: 8px 10px 3px 5px;
                border: 2px #00000000 solid;
                border-bottom: 2px var(--gray) solid;
                background: none;
                outline: none;
                color: #000;
                font: 500 20px var(--clean_fonts);
                transition: 250ms ease-out;
            }
            .input:focus + .label, .input:not(:placeholder-shown) + .label{
                transform: translateY(-30px);
                font-size: 17px;
                color: var(--red_strong);
            }
            .input:focus ~ .line, .input:not(:placeholder-shown) ~ .line{
                width: 100%;
            }
            .input:focus ~ .line_pass, .input:not(:placeholder-shown) ~ .line_pass{
                width: 93%;
            }
    
            .input_pass{
                width: calc(93% - 19px);
            }
        
            .label{
                position: absolute;
                margin: auto;
                left: 5px;
                bottom: 4px;
                color: var(--gray);
                transition: 250ms ease-out;
                font: 700 25px var(--clean_fonts);
            }
        
            .line{
                position: absolute;
                display: block;
                width: 0;
                height: 4px;
                border-radius: 50px;
                margin: auto;
                bottom: 0;
                left: 0;
                background: var(--red_strong);
                transition: 250ms ease-out;
            }
        
        }

        .edit_button{
            margin-top: 15px;
            padding: 15px 25px;
            background-color: #fff;
            border: 4px #000 solid;
            font: 700 18px var(--clean_fonts);
            text-transform: uppercase;
            color: #000;
            cursor: pointer;
            transition: 200ms ease-in-out;
        }
        .edit_button:hover{
            border: 4px var(--red_strong) solid;
            color: var(--red_strong);
        }
    }
}