.profile{
    position: relative;
    margin: 150px 0 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;

    .name{
        margin: 0 30px;
        color: var(--red_strong);
        font: 40px SpaceRanger;
        text-align: center;
    }

    .profile_item{
        width: 70%;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: relative;

        .item_title{
            text-align: center;
            font: 35px SpaceRanger;
            color: #000;
            position: absolute;
            top: -30px;
        }

        .div_input{
            width: 45%;
            margin-top: 20px;
            position: relative;
    
            .input{
                margin: 0;
                width: calc(100% - 19px);
                padding: 8px 10px 3px 5px;
                border: 2px #00000000 solid;
                border-bottom: 2px var(--gray) solid;
                background: none;
                outline: none;
                color: #000;
                font: 500 20px var(--clean_fonts);
                transition: 250ms ease-out;
            }
            .input:focus + .label, .input:not(:placeholder-shown) + .label{
                transform: translateY(-30px);
                font-size: 17px;
                color: var(--red_strong);
            }
            .input:focus ~ .line, .input:not(:placeholder-shown) ~ .line{
                width: 100%;
            }
            .input:focus ~ .line_pass, .input:not(:placeholder-shown) ~ .line_pass{
                width: 93%;
            }
    
            .input_pass{
                width: calc(93% - 19px);
            }
        
            .label{
                position: absolute;
                margin: auto;
                left: 5px;
                bottom: 4px;
                color: var(--gray);
                transition: 250ms ease-out;
                font: 700 25px var(--clean_fonts);
            }
        
            .line{
                position: absolute;
                display: block;
                width: 0;
                height: 4px;
                border-radius: 50px;
                margin: auto;
                bottom: 0;
                left: 0;
                background: var(--red_strong);
                transition: 250ms ease-out;
            }
        
        }

        .edit_button{
            margin-top: 15px;
            padding: 15px 25px;
            background-color: #fff;
            border: 4px #000 solid;
            font: 700 18px var(--clean_fonts);
            text-transform: uppercase;
            color: #000;
            cursor: pointer;
            transition: 150ms ease-in-out;
        }
        .edit_button:hover{
            border: 4px var(--red_strong) solid;
            color: var(--red_strong);
        }

        .pass_button{
            position: absolute;
            bottom: -35px;
            background-color: transparent;
            border: none;
            font: 700 15px var(--clean_fonts);
            letter-spacing: 1px;
            text-transform: uppercase;
            color: var(--red_strong);
            padding: 7px 12px;
            cursor: pointer;
        }
        @media(max-width: 350px){
            .item_title{
                font-size: 28px;
            }
        }
        
        .log_off{
            display: block;
            margin-top: 20px;
            padding: 10px 30px;
            background: transparent;
            text-transform: uppercase;
            letter-spacing: 2px;
            font: 700 18px var(--clean_fonts);
            color: var(--red_strong);
            cursor: pointer;
            border: 3px var(--red_strong) solid;
            border-radius: 20px;
            transition: 150ms ease-in-out;
        }
        .log_off:hover{
            transform: scale(1.07);
        }
    }
    
    .plan{
        margin: 80px auto 0 auto;
        padding: 5%;
        width: 50%;
        font: 700 20px var(--clean_fonts);
        border-radius: 40px;
        background: var(--black);
        color: #fff;

        .title{
            font: 1.75em SpaceRanger;
            text-align: center;
        }

        .price_grid{
            margin: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;

            .grid_item{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                height: 90%;
                width: 90%;
                padding: 5%;
                border-bottom: 2px #fff solid;
                font-size: 0.95em;
            }

            .left{
                justify-content: flex-start;
                color: var(--red);
            }

            .right{
                font-weight: 500;
                text-align: center;
            }
        }

        .days_miss{
            margin-top: 10%;
            font-size: 0.9em;
            text-align: center;

            .color_red{
                text-transform: uppercase;
                color: var(--red);
            }
        }

        .div_buttons{
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .button{
                padding: 10px 15px;
                font: 900 18px var(--clean_fonts);
                text-transform: uppercase;
                text-align: center;
                border-radius: 10px;
                transition: 100ms ease-out;
                background: transparent;
                cursor: pointer;
            }
            .button:hover{
                transform: scale(1.1);
            }

            .cancel{
                color: var(--gray);
                border: 3px var(--gray) solid;
            }

            .trade{
                color: var(--red);
                border: 3px var(--red) solid;
            }

            .renew{
                color: #fff;
                background: var(--red_strong);
                border: 3px #fff solid;
            }
        }
        @media(max-width: 666px){
            .price_grid{
                margin: 0 0 10px 0;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
                .grid_item{
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }

                .left{
                    border: none;
                    justify-content: center;
                    margin-top: 15px;
                }
            }

            .div_buttons{
                margin-top: 0;
                flex-direction: column-reverse;
                justify-content: center;

                .button{
                    margin-top: 25px;
                }

                .cancel{
                    transform: scale(0.88);
                }
            }
        }
    }


    @media(max-width: 900px){
        .profile_item{
            width: 85%;
            
            .div_input{
                width: 100%;
            }
        }
        .plan{
            width: 70%;
        }
    }
    @media(max-width: 500px){
        .plan{
            padding: 15% 10%;
            font-size: 17px;
        }
    }
    
}


.edit_form, .edit_pass{
    width: 50%;
    margin: 150px auto 100px auto;
    padding: 30px 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    top: 70px;
    z-index: 10;

    .title{
        font: 35px SpaceRanger;
        letter-spacing: 2px;
        color: var(--red_strong);
        text-align: center;
    }

    .div_input{
        width: 100%;
        margin-top: 40px;
        position: relative;

        .eye_pass{
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            background: none;
            border: none;
            cursor: pointer;

            .eye_svg{
                width: 30px;
                height: 30px;
                transition: 200ms ease-in-out;
                fill: var(--gray_black);
            }
        }
        .eye_pass > .eye_svg_red{
            fill: #ff0000;
        }

        .input{
            margin: 0;
            width: calc(100% - 19px);
            padding: 8px 10px 3px 5px;
            border: 2px #00000000 solid;
            border-bottom: 2px var(--gray_black) solid;
            background: none;
            outline: none;
            color: #000;
            font: 500 20px var(--clean_fonts);
            transition: 250ms ease-out;
        }
        .input:focus + .label, .input:not(:placeholder-shown) + .label{
            transform: translateY(-30px);
            font-size: 17px;
            color: var(--red_strong);
        }
        .input:focus ~ .line, .input:not(:placeholder-shown) ~ .line{
            width: 100%;
        }
        .input:focus ~ .line_pass, .input:not(:placeholder-shown) ~ .line_pass{
            width: calc(100% - 35px);
        }

        .input_pass{
            width: calc(100% - 54px);
        }
        .input_pass ~ .label{
            width: calc(100% - 54px);
        }
        .input_pass:hover ~ .label, .input_pass:not(:placeholder-shown) ~ .label{
            width: 100%;
        }
    
        .label{
            position: absolute;
            margin: auto;
            left: 5px;
            bottom: 4px;
            font: 700 20px var(--clean_fonts);
            color: var(--gray_black);
            transition: 250ms ease-out;
        }
    
        .line{
            position: absolute;
            display: block;
            width: 0;
            height: 2px;
            margin: auto;
            bottom: 0;
            left: 0;
            background: var(--red);
            transition: 250ms ease-out;
        }
    
    }

    .div_buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        
        .button{
            margin: 10px 15px;
            padding: 10px 20px;
            text-align: center;
            font: 900 17px var(--clean_fonts);
            text-transform: uppercase;
            letter-spacing: 2px;
            background: none;
            border-radius: 10px;
            cursor: pointer;
            transition: 100ms ease-out;
        }
        .button:hover{
            transform: scale(1.1);
        }

        .cancel{
            color: var(--gray_black);
            border: 3px var(--gray_black) solid;
        }
        .cancel:hover{
            color: #000;
            border: 3px #000 solid;
        }

        .submit{
            color: var(--red_strong);
            border: 3px var(--red_strong) solid;
        }
    }

    @media(max-width: 767px){
        .div_input{
            font-size: 17px;

            .input{
                font-size: inherit;
            }

            .label{
                font-size: inherit;
            }
        }

        .div_buttons{
            flex-direction: column-reverse;
        }
    }

    .message{
        margin: 25px auto;
        text-align: center;
        font: 700 16px var(--clean_fonts);
        text-transform: uppercase;
        color: var(--red);
    }
}
@media(max-width: 450px){
    .edit_form, .edit_pass{
        width: 80%;
        padding: 30px 10%;
    }
}
.modal, .pop_up, .pop_up > .div_buttons, .pop_up > .div_buttons_reverse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    height: 100%;

    .pop_up{
        padding: 30px 50px;
        width: 40%;
        background: var(--black);
        flex-direction: column;
        font: 30px var(--clean_fonts);
        border: 5px var(--red) solid;
        border-radius: 30px;
        color: #fff;
        
        .title{
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
        }

        .sub, .sub_chapter{
            margin-top: 20px;
            font-size: 0.7em;
            text-align: center;
            color: #e7e7e7;
        }
        .sub_chapter{
            text-align: justify;
        }

        .chapter{
            font-size: 0.5em;
            text-transform: uppercase;
            margin: 10px 5px 0 auto;
            letter-spacing: 1px;
        }

        .div_buttons, .div_buttons_reverse{
            margin-top: 20px;
            flex-direction: column;
            font-size: 1em;

            .button{
                margin: 10px 0;
                padding: 10px 20px;
                background: transparent;
                font: 700 0.6em var(--clean_fonts);
                cursor: pointer;
                transition: 100ms ease-out;
                text-transform: uppercase;
            }
            .button:hover{
                transform: scale(1.1);
            }

            .false{
                border: 3px var(--red) solid;
                color: var(--red);
            }

            .true{
                border: 3px var(--gray) solid;
                color: var(--gray);
            }
        }
        .div_buttons_reverse{
            .renew{
                background: var(--red_strong);
                border: 3px #fff solid;
                color: #fff;
            }

            .return{
                border: 3px var(--gray) solid;
                color: var(--gray);
            }
        }
    }
    @media(max-width: 800px){
        .pop_up{
            font-size: 25px;
        }
    }
    @media(max-width: 700px){
        .pop_up{
            width: 60%;
            padding: 5% 10%;
            font-size: 25px;
        }
    }
    @media(max-width: 450px){
        .pop_up{
            font-size: 20px;

            .title{
                font-weight: 700;
            }

            .sub{
                font-size: 0.8em;
            }
        }
    }
}